<body>
    <h1>Adicionar Funcionário</h1>
        <form>
            <div class="col-md-6">
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="exampleInputEmail1">Nome</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="exampleInputPassword1">Senha</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="exampleInputPassword1">RG</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="formFile" class="form-label">Fotos</label>
                        <input class="form-control" type="file" id="formFile">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Confirmar</button>                  
            </div>
        </form>

</body>
