<body class="text-center">
    <form >
      <h1 class="h3 mb-3 font-weight-normal">Login</h1>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" name="username" [(ngModel)]="username">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" [(ngModel)]="password">
      <br>
      <br>
      <a routerLink="/worker" routerLinkActive="active"><button class="btn btn-lg btn-primary btn-block" type="submit" (click)="validate()">Logar</button></a>
      <p class="mt-5 mb-3 text-muted">© Samuel systems</p>
    </form> 
</body>
