.col-centered{
  margin: 0 auto;
  float: none;
}

body{
  text-align: center;
  flex-direction: center;
  justify-content: center;
  align-items: center;
}

div{
  text-align: center;
  flex-direction: center;
  justify-content: center;
  align-items: center;
}