<br>
<br>
<body>
    <div>
        <table id="table" class="table">
            <thead>
                <caption>
                    Funcionários
                  </caption>
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>RG</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody *ngFor="let worker of workers">
                <tr>
                    <td scope="row">{{worker.nome}}</td>
                    <td scope="row">{{worker.email}}</td>
                    <td scope="row">{{worker.rg}}</td>
                    <td scope="row"><button class="btn btn-primary">Detalhes</button></td>
                </tr>
            </tbody>
            <tfoot>
                    <tr>
                        <td></td>
                        <td><button>Adicionar</button></td>
                        <td></td>
                    </tr>
            </tfoot>
        </table>
    </div>
</body>