<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/departament" routerLinkActive="active">Voltar</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<br>
<br>
<h1 class="text-center align-items-center">{{departament.nome}}</h1>
<div class="text-center align-items-center" *ngIf="departament.workers?.length > 0; else empty">
        <table class="table bg-white text-center">
            <thead class="bg-light">
            <tr>
                <th>Name</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody  *ngFor="let worker of departament.workers">
            <tr>
                <td><p>{{worker.nome}}</p></td>
                <td><p>{{worker.email}}</p></td>
            </tr>
            </tbody>
        </table>

        <div class="text-center">
          <div>
              <a><button class="btn btn-danger col-lg-1" data-toggle="modal" data-target="#del">Deletar</button></a>
              <a><button class="btn btn-secondary col-lg-1" data-toggle="modal" data-target="#edit">Editar</button></a>
          </div>
        </div>
</div>

<ng-template #empty>
  <h3 class="text-center align-items-center">Não há trabalhadores nesse departamento</h3>
  <div class="text-center">
    <div>
        <a><button class="btn btn-danger col-lg-1" data-toggle="modal" data-target="#del">Deletar</button></a>
        <a><button class="btn btn-secondary col-lg-1" data-toggle="modal" data-target="#edit">Editar</button></a>
    </div>
  </div>
</ng-template>

<!-- Modal del -->
<div class="modal" id="del">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Deletar funcionário</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Você tem certeza? Todos os funcionários atribuidos a esse departamento serão excluídos</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="delDepartament(departament.id)">Deletar</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" #closemodal1>Cancelar</button>
        </div>
      </div>
    </div>
</div>


<!-- Modal edit -->
<div class="modal" id="edit">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Adicionar funcionário</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form #editForm="ngForm" (ngSubmit)="editDepartament(editForm.value)">
        <div class="modal-body">
          <input type="hidden" name="id" ngModel="{{departament.id}}">
            <div class="row mt-2">
                <div class="col-md-12 mb-3"><label class="labels">Nome completo</label><input type="text" ngModel="{{departament.nome}}" name="nome" class="form-control" placeholder="Nome completo" required></div>
            </div>
            <div class="row mt-2">
              <div class="col-md-12 mb-3"><label class="labels">Sigla</label><input type="text" ngModel="{{departament.sigla}}" name="sigla" class="form-control" placeholder="Nome completo" required></div>
          </div>
        </div>
        <div class="modal-footer">
          <div><button [disabled]="editForm.invalid" class="btn btn-primary" type="submit">Salvar</button></div>
          <div><button class="btn btn-primary" data-dismiss ="modal" type="reset" #closemodal2>Cancelar</button></div>
        </div>
      </form>
      </div>
    </div>
  </div>