<body class="text-center">
    <form [formGroup]="loginForm" (ngSubmit)="validateData()">
       <h1 class="h3 mb-5 font-weight-normal">Login</h1>
    
    <div>
        <div>
            <input type="email" class="form-control" placeholder="Email address" formControlName="email" name="email" class="col-lg-2 mb-3" required>
            <div *ngIf="email?.invalid && (email?.dirty || email?.touched)"
                class="alert alert-danger">

                <div *ngIf="email?.errors?.['required']">
                    Email is required.
                </div>

                <div *ngIf="email?.errors?.['email']">
                    Email pattern is invalid.
                </div>
            </div>
        </div>
         
        <div>
            <input type="password" class="form-control" placeholder="Password" formControlName="senha" name="senha" class="col-lg-2" required>
            <div *ngIf="senha?.invalid && (senha?.dirty || senha?.touched)"
            class="alert alert-danger">

            <div *ngIf="senha?.errors?.['required']">
                Senha is required.
            </div>
        </div>
        </div>
    </div>

    <br>

      <button class="btn btn-lg btn-primary col-lg-2" type="submit" [disabled]="!loginForm.valid">Entrar</button>
      <p class="mt-5 mb-3 text-muted">© Samuel systems</p>
    </form> 
</body>
