<body class="text-center">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <main role="main" class="inner cover">
        <h1 class="cover-heading">My company</h1>
        <p class="lead">Saiba quem trabalha na sua empresa e em seus departamentos</p>
      </main>
    </div>

    <br>
    <br>
    <br>
    <br>

        <a routerLink="/home/worker"><h1>Funcionários</h1></a>
        <a routerLink="/home/departament"><h1>Departamentos</h1></a>

    <br>
    <br>
    <br>
    <br>

      <a class="nav-link" routerLink="/login" routerLinkActive="active"><button class="btn btn-primary" (click)="logOut()">Sair</button></a>
</body>